fastapi==0.115.12
ipykernel==6.29.5
jupyter==1.1.1
torch==2.6.0
tensorflow==2.19.0
transformers==4.50.3
datasets==3.5.0
evaluate==0.4.3
accelerate==1.6.0
timm==1.0.15
phonemizer==3.3.0
soundfile==0.13.1
uvicorn==0.34.0
httpx==0.28.1